.cards {
  font-size: 0;
  width: 790px;
  margin: 0 auto;
}
.card {
  margin-right: 90px;
  display: inline-block;
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  border: 2px solid rgba(250, 50, 50, 0.4);
}
.no-right-margin {
  margin-right: 0;
}
.card__image {
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
}
.card__title {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 500;
}
.card__text {
  font-size: 16px;
  margin: 0 0 10px 0;
}
